{% extends 'base.html.twig' %}

{% block title %}musics!{% endblock %}

{% block body %}
<h1>Musics index</h1>

<table class="table">
    <thead>
         <tr>
            <th>Id</th>
            <th>Title</th>
            <th> &nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for music in musics %}
        <tr>
            <td>{{ music.id }}</td>
            <td>{{ music.title }}</td>
            <td><a href="{{ path('music_show', {'id': music.id}) }}">show</a></td>
        {% endfor %}
    </tbody>
</table>

{% endblock %} 