<form method="post" action="{{ path('app_shared_playlist_delete', {'id': shared_playlist.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shared_playlist.id) }}">
    <button class="btn btn-primary">Delete</button>

</form>
