{% extends 'base.html.twig' %}

{% block title %}New SharedPlaylist{% endblock %}

{% block body %}
    <h1>Create new SharedPlaylist</h1>

    {{ include('shared_playlist/_form.html.twig') }}

    <a href="{{ path('app_membre_show', {'id' : membre.id}) }}">back o list</a>
{% endblock %}
