{% extends 'base.html.twig' %}

{% block title %}Playlists!{% endblock %}

{% block body %}
<h1>Playlists index</h1>

<table class="table">
    <thead>
         <tr>
            <th>Id</th>
            <th>Name</th>
            <th> &nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist in playlists %}
        <tr>
            <td>{{ playlist.id }}</td>
            <td>{{ playlist.name }}</td>
            <td><a href="{{ path('playlist_show', {'id': playlist.id}) }}">show</a></td>
        {% endfor %} {# todos #}
    </tbody>
</table>

{% endblock %} {# body #}